<!-- Navbar Start -->
<nav class="navbar navbar-expand-lg bg-dark navbar-dark shadow-sm px-5 py-3 py-lg-0">
    <a href="{{ '/' | relative_url }}" class="navbar-brand p-0">
        <h1 class="m-0 text-uppercase text-primary"><i class="fa fa-paint-roller text-secondary me-3"></i>{{ site.title }}</h1>
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
        <div class="navbar-nav ms-auto py-0 pe-4 border-end border-5 border-primary">
            <a href="{{ '/' | relative_url }}" class="nav-item nav-link {% if page.url == '/' %}active{% endif %}">Home</a>
            <a href="{{ '/about.html' | relative_url }}" class="nav-item nav-link {% if page.url == '/about.html' %}active{% endif %}">About</a>
            <a href="{{ '/service.html' | relative_url }}" class="nav-item nav-link {% if page.url == '/service.html' %}active{% endif %}">Service</a>
            <div class="nav-item dropdown">
                <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">Pages</a>
                <div class="dropdown-menu m-0">
                    <a href="{{ '/blog.html' | relative_url }}" class="dropdown-item">Blog</a>
                    <a href="{{ '/team.html' | relative_url }}" class="dropdown-item">The Team</a>
                    <a href="{{ '/testimonial.html' | relative_url }}" class="dropdown-item">Testimonial</a>
                </div>
            </div>
            <a href="{{ '/contact.html' | relative_url }}" class="nav-item nav-link {% if page.url == '/contact.html' %}active{% endif %}">Contact</a>
        </div>
        <div class="d-none d-lg-flex align-items-center ps-4">
            <i class="fa fa-2x fa-mobile-alt text-secondary me-3"></i>
            <div>
                <h5 class="text-primary mb-1"><small>Call Now</small></h5>
                <h6 class="text-light m-0"><a href="tel:{{ site.phone }}" class="text-light text-decoration-none">{{ site.phone_display }}</a></h6>
            </div>
        </div>
    </div>
</nav>
<!-- Navbar End -->